                
                    <!--- Plant form---------------------------->
                    
                    <div id="eventForm"> <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="eventName" placeholder="Plant Name" value="" > <br>

                        
                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="eventDate" placeholder="Event Date" value="" ><br>

                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="eventLocation" placeholder="Location" value="" ><br>
                        
                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="eventIinstructor" placeholder="Image Link" value="" ><br>
                        
                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="eventDetails" placeholder="Description" value="" ><br><br><br>
                        
                         <button id="saveBtn"  onclick="newForm();">ADD</button>
                        <button id="addBtn"  onclick="addPlant();">SAVE</button>
                        <button id="addPlantBtn"  onclick="deletePlant();">DELETE</button>
                    </div>