<!--- Plant form---------------------------->
<div id="plantForm"> <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="plantName" placeholder="Plant Name" value="" ><br>

                        
                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="plantLong" placeholder="Plant Longitude" value="" ><br>

                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="plantLat" placeholder="Plant Latittude" value="" ><br>
                        
                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="plantImg" placeholder="Plant Image Link" value="" ><br>
                        
                        <span class="errMsg" id="requiredErrMsg"></span><br>
                        <input type="text" id="plantTrail" placeholder="Plant Description" value="" ><br><br><br>
                        
                         <button id="saveBtn"  onclick="newForm();">ADD</button>
                        <button id="addBtn"  onclick="addPlant();">SAVE</button>
                        <button id="addPlantBtn"  onclick="deletePlant();">DELETE</button>
                    </div>
                    
                    