/* The styles for the elements */
body{
    margin: 0; 
    padding: 0; 
    clear: both; 
    width: 100%;
    font-family: Helvetica, sans-serif;
    //height: 100%;
    text-align: center;
}
.container{
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
    border:2px coral   dotted;
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
}
section{
        text-align: center;
        width:80%; 
        margin-top: 5%;
        overflow: auto;
        padding-left: 20%;
        padding-right:  20%;
        }
   aside{
        text-align: center;
        float: left;
        width: 15%;
    }
    
   #col-2{
        float: left;
        width: 60%;
        min-height: 100%;
        background-color: lightgreen;
       // margin-left: 5px; 
    }
    
    .listP{
        //border-right: 2px coral   dotted;
        min-height: 100%;
        margin: 0;
        padding: 0;
        color:white;
        cursor: pointer;
        font-size: 1.2em;
       text-transform: capitalize;
       overflow-y: auto;
       float: left;
       width: 30%;
       margin-left: 5px;
       //border: 1px dotted #a0b0b0;
    
}
    
    #dataForm {
     text-align: right;
     margin-left: 30%;
     width: 70%;
    text-align: center;
    background-color:lightgreen;
    border-left: 3px dashed white;
    //visibility: hidden;
}

li{
    color: green;
    text-align: left;
    list-style-type: none;
  //  border-bottom: 1px solid lightpink;
   
}
    
    #bigPicture{
        width: 80%;
        //padding-left: 25%;
        
    }
    
    .bigBtn{
        background-color: green; 
        padding:10px; 
        width: 80%; 
        border-radius: 2px; 
        border: 1px; 
        color:#ffffff;
        margin: 5px;
        text-transform: uppercase;
    }
 
    button{ 
        background-color: green; 
        padding:10px; 
        margin: 5px;
        width: 20%; 
        border-radius: 2px; 
        border: 1px; 
        color:#ffffff; 
        text-transform: uppercase;
        cursor: pointer;
    }
    
   
    
    .sideBar{
        width: 100%;
       // padding: 5px;
        font-size: .8em;
        line-height: 1.5;
        color: #000;
        border-radius: 3px;
        border: 1px solid #c3dae3;
        height: auto;
        background-color: lightgreen;
    }
    
    
    input, select {
        border: 1px solid #cdcdcd;
        border-color: rgba(0,0,0,.15);
        background-color: white;
        font-size: 16px;
        height: 10%;
        width: 70%;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    
    
  /*  
     #btnDelete{
        width:15%;
        padding: 5px;
        font-size: .9em;
        cursor: pointer;
        background-color: red;
    }
    */
    /*    footer{ 
        position: fixed;
        left:0;
        bottom: 0;
        background-color: #a0b0b0; 
        border-top:1px solid #c0c0c0;
        color:#206BA4;
        font-size: .8em;
        width: 100%;
        height:5%;
        padding-top: 10px;
        clear: both;
    } 

#submitFollow {
        background-color: white;
        color: #33ADFF;
        width: 10%;
        font-size: .7em;
        padding: 1px;
        cursor: pointer;
    }
    
    #hashtagBtn {
        background-color: white;
        color: #33ADFF;
        width: 10%;
        font-size: 1em;
        padding: 1px;
        cursor: pointer;
    }
    
    #trendHeading{
        width: 100%;
        padding: 20px;
        background-color: #33ADFF;
        color: #fff;
    }
    
    
    
     The styles for the classes 
    .signUp{
        height:50%;
        margin:10% 35% 5% 35%; 
        padding: 2%;
        width: 30%; 
        text-align: center;

    }
    .errMsg{ font-size:1em; color:red; padding:5px;}
    .centered{ text-align: center;}
    .leftAlign{text-align: left; margin-right:5%; padding: 0; }
    .rightAlign{text-align:right; margin-left:5%; padding: 0;}
    .errMsg{font-size: .8em;}
    The styles for the specific elements (by Id) 

     nav{
     width: 80%;
     margin: 0 10%;
     }

nav ul { 
	display: block;
       
	}
nav li {
	//padding: 10px 0;
	display: inline;
	font-family: Century Gothic, sans-serif;
        font-size: .8em;
	letter-spacing: 1px;
        padding: 5px;
        
      }
      
nav a {
       	text-decoration: none;
	color: #fff;
	padding:10px 0 5px 0;
        text-align: center;
	}
nav a:hover {
              border-bottom: 2px solid #fff;
	    }

    
    
    #twitDate{
        font-weight: bold;}
    #twit{
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 4px;
        margin-right: 50px;
        height: 30px;
        width: 100px;

    }
    #fullNameHome{
        font-size: 3em;
        color:#fd8a33;
        font-weight: bold;
        text-align: center;
        border-top: 5px solid #BFDFFF;
    }
    #readTwit{
        font-size: .8em;
        height: auto;
        color: #000;
        border-radius: 3px;
        border: 1px solid #D6D8DA;
        background-color: white;

    }
    .nickName{
        color: #0093D1;
    }

    #topBlue{
        background-color: #3083AC;
        width: 100%;
        font-size: 3em;
        text-transform: capitalize;
        color: #fff;
    }
    #postTwit{
        text-align: center;
        background-color: #BFDFFF;
        height: 200px;
        //margin:15px;
    }
   
    
    #col-3{
        float: right;
        width: 24% ;
        margin-right: 16px;
        line-height: 2;
    }
   
    */
